html {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

body {
  margin: 0;
}



h1 {
  font-size: 60px;
  margin: 10px 0;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  margin: 10px 0;
}

@media screen and (max-width: 1920px) {
  //just set up for future edits if needed
}

@media screen and (max-width: 1440px) {
  //just set up for future edits if needed
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 20px;
  }
}

@media screen and (max-width: 960px) {
  html {
    font-size: 18px;
  }
}

@media screen and (max-width: 720px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  html {
  }
}

