.pl {
  width: 100%;
}

.pl-wrapper {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pl-texts {
  width: 80%;
  margin-bottom: 25px;
}

.pl-desc {
  margin: 0 0px 50px 0;
}

.pl-subtitle {
  width: 100%;
  text-align: start;
}

.pl-subtitle-text {
  width: 100%;
  text-align: left;
}

.pl-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 75px;
}

@media screen and (max-width: 1440px) {
  .pl-list {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 960px) {
  
  .pl {
    margin-top: 50px;
  }

  .pl-list {
    justify-content: center;
    margin-bottom: 25px;
  }

  .pl-desc {
    margin-bottom: 25px;
  }

  .pl-subtitle-text {
    
  }
}

@media screen and (max-width: 480px) {
  .pl {
    padding: 25px 0;
  }

  .pl-texts {
    width: 100%;
  }

  .pl-desc {
    display: none;
  }
}


