.a {
  width: 100%;
  margin-top: 100px;
}

.a-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.a-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 700px;
  max-height: 70vh;
  max-width: 800px;
}

.a-right {
  flex: 1;
  max-width: 800px;
  max-height: 600px;
}

.a-card {
  width: 60%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.a-bg {
  background-color: #003566;
  position: absolute;
  left: 0;
  bottom: -50px;
}

.a-img {
  background: url("../../img/LazAndCathyBeach.jpg") center / cover no-repeat;
  position: absolute;
  left: 50px;
  bottom: 0;
}

.a-desc{
    padding-right: 10px;
    font-weight: 300;
    text-indent: 5%;
}

.fig {
  color: #003566;
  font-weight: 600;
}

.quote {
  color: #003566;
  font-weight: 600;
}

@media screen and ( max-width: 1280px ) {
}

@media screen and ( max-width: 960px ) {
  .a {
    margin-top: 50px;
  }

  .a-wrapper {
    display: block;
    width: 100%;
  }

  .a-left {
    max-width: none;
    max-height: none;
    max-width: 100%;
    max-height: 400px;
    /* width: 100%; */
    /* height: 300px; */
  }

  .a-right {
    max-height: none;
    margin-top: 50px;
    width: 90%;
    margin: 50px auto 0;
  }

  .a-card {
    /* height: 30vh; */
  }

  .a-img {
    background: url("../../img/LazAndCathyRoseGardenOriginalCompressed.jpg") center / cover no-repeat;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 90%;
    max-height: 400px;
  }

  .a-bg {
    display: none;
  }
}

@media screen and ( max-width: 720px ) {
  .a {
    margin-top: 100px;
  }
}

@media screen and (max-width:480px) {
    


  }