.a {
  width: 100%;
  margin-bottom: 150px;
}

.a-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.a-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 700px;
  max-height: 70vh;
  max-width: 800px;
}

.a-right {
  flex: 1;
  max-width: 800px;
  max-height: 600px;
}

.a-card {
  width: 60%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.a-bg {
  background-color: #003566;
  position: absolute;
  left: 0;
  bottom: -50px;
}

.a-img {
  background: url("../../img/LazAndCathyBeach.jpg") center / cover no-repeat;
  position: absolute;
  left: 50px;
  bottom: 0;
}

.a-desc{
    font-weight: 300;
    margin-bottom: 50px;
    /* text-indent: 5%; */
}

.a-desc br {
  height: 5px;
}

.a-btn-wrapper {
  display: flex;
  margin-bottom: 50px;
}

.a-btn-link {
  padding: 0.6rem 1.2rem;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
  margin-right: 100px;
  text-decoration: none;
}

.a-btn-link-1 {
  border: 1px solid #001D3D;
  /* background-color: #001D3D; */
  color: #001D3D;
}

.a-btn-link-2 {
  background-color: #001D3D;
  color: white;
}

.fig {
  color: #003566;
  font-weight: 600;
}

.quote {
  color: #003566;
  font-weight: 600;
}

@media screen and ( max-width: 1280px ) {
}

@media screen and ( max-width: 960px ) {
  .a {
    margin-top: 50px;
  }

  .a-wrapper {
    display: block;
    width: 90%;
  }

  .a-left {
    max-width: none;
    max-width: 90%;
    max-height: 400px;
    margin: 0 auto;
    /* width: 100%; */
    /* height: 300px; */
  }

  .a-right {
    max-height: none;
    margin-top: 50px;
    width: 80%;
    margin: 50px auto 0;
  }

  .a-title {
    text-align: center;
  }

  .a-card {
    /* height: 30vh; */
  }

  .a-img {
    background: url("../../img/LazAndCathyRoseGardenOriginalCompressed.jpg") center / cover no-repeat;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 90%;
    max-height: 400px;
  }

  .a-bg {
    display: none;
  }
}

@media screen and ( max-width: 720px ) {
  .a {
    margin-top: 100px;
  }
}

@media screen and (max-width:480px) {
    


  }