.c {
  position: relative;
  padding-bottom: 100px;
}

.c-bg {
  width: 20px;
  height: 100%;
  background-color: #000814;
  position: absolute;
}

.c-wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}

.c-left {
  flex: 1;
}

.c-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c-title {
  margin-bottom: 35px;
}

.c-info-item {
  display: flex;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
  color: #000814;
  margin-bottom: 35px;
}

.c-info-item:hover {
  text-decoration: underline;
}

.c-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.c-icon svg {
  color: white;
}

.c-desc {
  font-weight: 200;
}

.c-desc p {
  color: #001D3D
}

form {
  margin-top: 20px;
}

input {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

textarea {
  width: 100%;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

button {
  border: none;
  padding: 15px;
  background-color: #000814;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .c-wrapper {
    flex-direction: column;
    width: 85%;
  }

  .c-left, .c-right {
    margin: 0 auto;
    width: 100%;
  }

  .c-title {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }

  .c-title br {
     display: none;
     content: '&nbsp';
  }

  .c-info {
    display: flex;
    margin-bottom: 35px;
  }

  .c-info-item {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .c-icon {
    margin-right: 10px;
  }

  .c-desc {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
  }

  form {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  input {
    width: 35%;
    height: 40px;
    margin: 10px;
    margin-left: 0;
  }

  button {
    margin-top: 10px;
  }
}

input {
  width: 100%;
}

@media screen and (max-width: 480px) {
  form {
    flex-direction: column;
    wrap: no-wrap;
  }
}
