.i {
  display: flex;
  max-height: 800px;
  position: relative;
}

.i-img-Mobile {
  display: none;
}

.i-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-right {
  flex: 1;
  position: relative;
}

.i-left-wrapper {
  padding: 50px;
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.i-maint-wrapper {
  margin: 0 auto;
  background-color: #6689A6;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  border-radius: 10px;
  padding: 25px 50px;
}

.i-maint-content {
  margin: 0 auto;
  color: white;
}

.i-intro {
  font-size: 30px;
  font-weight: 300;
}

.i-name {
  font-size: 60px;
}

.i-title {
  min-height: 50px !important;
  max-height: 60px !important;
  overflow: hidden;
}

.i-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.i-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #FFC300;
  display: flex;
  align-items: center;
}

.i-desc {
  margin: 3px 0;
}

.i-scroll {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 20px;
}

.i-img {
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  filter: brightness(115%) saturate(0.85);
}

.i-bg {
  clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-color: #001D3D;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.introLinkWrapper {
  display: flex;
  width: 350px;
  justify-content: space-between;
  margin-top: 30px;
}

.introLinkWrapper a:link {
  display: inline-flex;
  flex-direction: column;
  text-decoration: none;
  background-color: none;
  color: #001D3D;
  align-items: center;
  text-align: center;
  line-height: 1.35rem;
}

.introLinks {
  width: 35px;
  height: 35px;
  color: #000814;
}

.introLinkWrapper-Mobile {
  display: none;
}

@media screen and (max-width: 1920px) {
  .i-left-wrapper {
    max-width: 700px;
  }
}

@media screen and (max-width: 1440px) {
  .i-left-wrapper {
    max-width: 600px;
  }

  .introLinks {
    margin: 10px 15px;
  }
}

@media screen and (max-width: 960px) {
  .i {
    flex-direction: column;
    max-height: none;
  }

  .i-left-wrapper {
    width: 80%;
    padding: 10px;
    height: 100%;
  }

  .i-desc {
  }

  .i-title-item {
  }

  .introLogo {
    max-width: 10%;
  }

  .introLinkWrapper {
    display: none;
  }

  .i-right {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 200px;
    position: relative;
  }

  /* .i-img-Mobile {
    display: block;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    transform: translateY(-100%);
  } */

  .i-bg {
    clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: #001D3D;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .i-img {
    /* display: none; */
    z-index: 3;
  }

  .introLinkWrapper {
    width: 60%;
  }

  .introLinkWrapper-Mobile {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* flex-wrap: wrap; */
    z-index: 2;
    width: 200px;
    gap: 10px;
  }

  .introLinks-Mobile {
    font-size: 28px;
    width: 35px;
    height: 35px;
    color: white;
  }

  .introLinkWrapper-Mobile .tooltip {
    flex: 1;
  }

  .introLinkWrapper-Mobile .tooltip a {
    height: 100%;
    width: 100%;
  }

  .introLinkWrapper-Mobile a:link {
    display: inline-flex;
    flex-direction: column;
    text-decoration: none;
    background-color: none;
    color: white;
    align-items: center;
    text-align: center;
    line-height: 1.25rem;
    font-size: 16px;
    gap: 10px;
  }

  .tooltiptext-Mobile {
    display: block;
    visibility: visible;
    color: white !important;
    font-size: 15px;
    line-height: 1rem;
  }

  .tooltip-filler {
    visibility: hidden;
  }

  .tooltip-filler .tooltiptext-Mobile {
    visibility: hidden;
  }

}

@media screen and (max-width: 720px) {
  .i-desc {
    font-size: 125%;
  }

  .introLinkWrapper {
    width: 80%;
  }

  .introLinkWrapper-Mobile {
    width: 60%;
    gap: 25px;
  }

  .introLinks-Mobile {
    width: 30px;
    height: 30px;
  }

  .tooltiptext-Mobile {
    display: block;
    visibility: visible;
    color: white !important;
    font-size: 12px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #001D3D;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    padding: 10px;
    color: white !important;
  }
}

@media screen and (max-width: 480px) {

  .i-intro {
    font-size: 25px;
    line-height: 1.35rem;
  }

  .i-name {
    font-size: 50px;
    line-height: 2rem;
  }

  .i-title {
    margin-bottom: 25px;
  }

  .introLinkWrapper {
    width: 100%;
  }
}

/* @media (orientation: landscape) {
  .i {
    margin-bottom: 200px;
  }  
  .i-left-wrapper {
    padding: 0;
  }

  .i-left {
    
    justify-content: normal;
  }
} */
